body{
  font-family: "Noto Sans Mono";
  background-color: plum;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}#form-container{
  background-color: aquamarine;
  padding: 20px;
  border-radius: 8px;
  box-shadow:0 0 10px blue(0,0,0,0.1);
  width: 400px;
 }
 .form-group{
   margin-bottom: 16px;
 }
 label{
   display: block;
   margin-bottom:8px ;
   font-weight: bolder;
 }
 button{
   background-color:red;
   padding: 10px 15px;
   border-radius: 4px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   color: white;
 }
