table{
  width: 100%;
  border-collapse: collapse;
  margin: 7px;
}
td,th{
  border: 3px solid cornflowerblue;
  padding: 15px;

}
th{
  font-family: "Bitstream Charter";
 font-size: 27px;
  color: coral;
}
h2{
  color: mediumslateblue;
  font-size: 33px;
  text-align: center;
}
tr:nth-child(odd){
  background-color: paleturquoise;

}
